<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Wmessage</lang>
        <lang name="ru">Wmessage</lang>
    </name>
    <author>
        <lang name="default">KaMaToZzz</lang>
        <lang name="ru">Рыбалко Владимир</lang>
    </author>
    <homepage>http://livestreet.ru</homepage>
    <version>1.9.5</version>
    <requires>
        <livestreet>2.0</livestreet>
        <plugins>
        </plugins>
    </requires>
    <description>
        <lang name="default">Attencion message for LS</lang>
        <lang name="ru">Важное сообщение от администрации</lang>
    </description>
</plugin>