.place {
	margin: 10px 0;
}
.warning {
   width: 90%;
   padding: 20px;
   margin: 10px 5%;
   background: #ff0030;
   color: #fff;
   font-size: 18px;
   font-weight: bold;
   line-height: 1.5em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}